<section class="section brd-btm" id="education">
    <div class="row">
        <div class="col-sm-12 clear-mrg">
            <h2 class="title-thin text-muted">教育经历</h2>


            <div class="ref-box hreview">
                <div class="ref-avatar">
                    <img alt="" src="{{ '/styles/img/njxschool.png' | prepend: site.baseurl }}" class="avatar avatar-54 photo" height="54" width="54">
                </div>

                <div class="ref-info">
                    <div class="ref-author">
                        <strong>南京信息工程大学</strong>
                        <span>2015 - 2019 | 自动化</span>
                    </div>

                    <blockquote class="ref-cont clear-mrg">
                        <p>好好学习
                        </p>
                        <p>天天向上
                        </p>
                    </blockquote>
                </div>
            </div><!-- .ref-box -->
            <div class="ref-box hreview">
                <div class="ref-avatar">
                    <img alt="" src="{{ '/styles/img/dbschool.jpeg' | prepend: site.baseurl }}" class="avatar avatar-54 photo" height="54" width="54">
                </div>

                <div class="ref-info">
                    <div class="ref-author">
                        <strong>东北大学</strong>
                        <span>2019 - 2022 | 机器人科学与工程</span>
                    </div>

                    <blockquote class="ref-cont clear-mrg">
                        <p>好好学习
                        </p>
                        <p>天天向上
                        </p>
                    </blockquote>
                </div>
            </div><!-- .ref-box -->




        </div><!-- .col-sm-6 -->
    </div><!-- .row -->
</section><!-- .section -->